<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(119, 174, 247);color: white;">
        <h2><i>Bienvenido {{username}}</i></h2>
        <form action="/logout" method="get">
            <input class="btn btn-danger my-5" type="submit" value="Desloguear">
        </form>
    </div>
</div>